 nav{
        background-color:#fdd835;
        }

        footer{
        background-color:#fdd835;
        color: black;
        }

        .logo_redes, img {
         height: 40px;
        {

        h5{
        font-size: 1.64rem;
        line-height: 110%;
        margin: 1.0933333333rem 0 0.656rem 0;
        }
  .foto_banner{

        width: 200px;
        display: flex;
        justify-content: space-around;
    }